.ModalContainer {

    // Abre el modal al 'checkear' el input
    #btn-CottageModal:checked~.CottageModalOpen {
        opacity: 1;
        visibility: visible;
    }

    // No permite ver la casilla que se tilda y destilda
    #btn-CottageModal {
        display: none;
    }

    // Botón que al apretarlo abrirá el Modal
    .lbl-CottageModal {
        cursor: pointer;
    }

    // Modal abierto junto con todo el background negro que ocupa toda la pantalla
    .CottageModalOpen {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        visibility: hidden;
        transition: all 500ms ease;
        width: 100%;
        height: 100%;
        margin-left: 0;
        top: 0;
        left: 0;
        opacity: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 5;
        cursor: default;

        // Modal
        .ViewModalContainer {
            background-color: #868d84;
            color: white;
            box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
            transition: all 500ms ease;
            position: relative;

            // Cruz para cerrar el Modal
            .X {
                position: absolute;
                font-weight: bold;
                color: white;
                cursor: pointer;
            }

            .CottageModal {
                .ModalInfoContainer {

                    // Text Information
                    .SectionInfoContainer {
                        display: flex;

                        .InfoContainer {
                            .Title {
                                font-family: romantica;
                                color: white;
                                text-align: center;
                            }

                            .Intro {
                                text-align: justify;
                            }

                            .UlContainer {
                                .Col {
                                    ul {
                                        li {
                                            text-align: center;
                                            list-style: none;
                                        }
                                    }
                                }
                            }

                            .Description {
                                text-align: justify;
                            }
                        }

                        .InfoContainer::-webkit-scrollbar {
                            width: 2px;
                            background-color: rgb(154, 154, 154);
                        }

                        .InfoContainer::-webkit-scrollbar-thumb {
                            background-color: rgba(255, 255, 255, 0.614);
                        }
                    }

                    .ErrorSection {
                        width: 90vw;
                        height: 85vh;

                        .Error {
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .ErrorImg {
                            height: 40vh;
                            margin-top: 20vh;
                            margin-bottom: 1em;
                        }
                    }
                }

                // IMAGES
                .ModalSliderRContainer {
                    .mainContainer {
                        .mainImg {
                            object-fit: cover;
                        }
                    }

                    .thumbnails {
                        overflow: hidden;

                        li {
                            list-style: none;

                            .ThumbImages {
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}