.CottagesContainer {
    display: flex;
    justify-content: center;
    --bs-gutter-x: 0;
    .CottagesRow {
        display: flex;
        background-color: rgb(241, 245, 241);

        .ImagesCol {
            .ColorMessage {
                cursor: default;
                font-family: romantica;
                color: white;
            }
            .Cottage01, .Cottage02 {
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: center;
            }

            .Cottage01 {
                background-image: url('https://res.cloudinary.com/dfprmjlir/image/upload/v1663823119/CANITAS%20RENTAL/denoutdoorsdotcom_MODERN_ALPINE_CABIN_001_1800x1800_bixtdm.jpg');

            }
            .Cottage02 {
                background-image: url('https://res.cloudinary.com/dfprmjlir/image/upload/v1663828499/CANITAS%20RENTAL/MODERN_BARNHOUSE_06_1800x1800_snm1iy.jpg');
            }
        }

        .InfoCol {
            background-color: rgb(251, 252, 251);
            justify-content: center;
            .TextRow {
                .Title {
                    font-family: romantica;
                }
                .Text {
                    text-align: justify;
                }
            }
        }
    }
}