// X-LARGE DEVICES [XL]
@media all and (min-width: 1200px) {
    .CottagesContainer {
        align-items: center;
        height: 100vh;

        .CottagesRow {
            padding: 2em;
            height: 85vh;
            width: 90vw;
            box-shadow:
                rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            border-radius: 1em;

            .ImagesCol {
                height: 75vh;
                .Cottage01, .Cottage02 {
                    height: 36.58vh;
                    margin-top: .5em;
                }

                .Cottage01 {
                    background-position: center 70%;
                    border-radius: .5em .5em 0 0;

                }
                .Cottage02 {
                    background-position: center 60%;
                    border-radius: 0 0 .5em .5em;
                }
            }

            .InfoCol {
                border-radius: .5em;
                margin-right: 2em;
                height: 75vh;
                box-shadow:
                    rgba(27, 31, 35, 0.04) 0px 1px 0px,
                    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
                .TextRow {
                    margin-top: 15vh;
                    .Title {
                        font-size: 3em;
                    }
                    .Text {
                        padding: 0 25%;
                    }
                }
                .FormRow {
                    height: 10vh;
                }
            }
        }
    }
}

// LARGE DEVICES [LG]
@media all and (min-width: 993px) and (max-width: 1199px) {
    .CottagesContainer {
        align-items: center;
        height: 100vh;

        .CottagesRow {
            padding: 2em;
            height: 85vh;
            width: 90vw;
            box-shadow:
                rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            border-radius: 1em;

            .ImagesCol {
                height: 75vh;
                .Cottage01, .Cottage02 {
                    height: 36.58vh;
                    margin-top: .5em;
                }

                .Cottage01 {
                    background-position: center 70%;
                    border-radius: .5em .5em 0 0;

                }
                .Cottage02 {
                    background-position: center 60%;
                    border-radius: 0 0 .5em .5em;
                }
            }

            .InfoCol {
                border-radius: .5em;
                height: 75vh;
                box-shadow:
                    rgba(27, 31, 35, 0.04) 0px 1px 0px,
                    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
                .TextRow {
                    margin-top: 10vh;
                    margin-left: 1em;
                    .Title {
                        font-size: 3em;
                    }
                    .Text {
                        padding: 0 15%;
                    }
                }
                .FormRow {
                    height: 10vh;
                }
            }
        }
    }
}

// MEDIUM DEVICES [MD]
@media all and (min-width: 769px) and (max-width: 992px) {
    .CottagesContainer {
        height: 160vh;

        .CottagesRow {
            padding: 2em;
            height: 85vh;
            width: 90vw;
            margin-top: 3em;
            box-shadow:
                rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            border-radius: 1em;

            .ImagesCol {
                height: 75vh;
                .Cottage01, .Cottage02 {
                    height: 36.58vh;
                    margin-top: .5em;
                }

                .Cottage01 {
                    background-position: center 70%;
                    border-radius: .5em .5em 0 0;

                }
                .Cottage02 {
                    background-position: center 60%;
                    border-radius: 0 0 .5em .5em;
                }
            }

            .InfoCol {
                border-radius: .5em;
                margin-right: 2em;
                height: 75vh;
                box-shadow:
                    rgba(27, 31, 35, 0.04) 0px 1px 0px,
                    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
                .TextRow {
                    margin-top: 15vh;
                    margin-left: 1em;
                    .Title {
                        font-size: 3em;
                    }
                    .Text {
                        padding: 0 10%;
                    }
                }
                .FormRow {
                    height: 10vh;
                }
            }
        }
    }
}

// SMALL DEVICES [SM]
@media all and (min-width: 577px) and (max-width: 768px) {
    .CottagesContainer {
        height: 162vh;

        .CottagesRow {
            padding: 2em;
            height: 85vh;
            width: 90vw;
            margin-top: 3em;
            box-shadow:
                rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            border-radius: 1em;

            .ImagesCol {
                height: 75vh;
                .Cottage01, .Cottage02 {
                    height: 36.58vh;
                    margin-top: .5em;
                }

                .Cottage01 {
                    background-position: center 70%;
                    border-radius: .5em .5em 0 0;

                }
                .Cottage02 {
                    background-position: center 60%;
                    border-radius: 0 0 .5em .5em;
                }
            }

            .InfoCol {
                border-radius: .5em;
                height: 75vh;
                .TextRow {
                    margin-top: 15vh;
                    .Title {
                        font-size: 3em;
                    }
                    .Text {
                        padding: 0 3%;
                    }
                }
                .FormRow {
                    height: 10vh;
                }
            }
        }
    }
}

// XS DEVICES [-]
@media all and (min-width: 415px) and (max-width: 576px){
    .CottagesContainer {
        height: 173vh;

        .CottagesRow {
            padding: 2em;
            height: 85vh;
            width: 100vw;
            margin-top: 1em;
            .ImagesCol {
                height: 75vh;
                .Cottage01, .Cottage02 {
                    height: 36.58vh;
                    margin-top: .5em;
                }

                .Cottage01 {
                    background-position: center 70%;
                    border-radius: .5em .5em 0 0;

                }
                .Cottage02 {
                    background-position: center 60%;
                    border-radius: 0 0 .5em .5em;
                }
            }

            .InfoCol {
                border-radius: .5em;
                height: 75vh;
                .TextRow {
                    margin-top: 10vh;
                    .Title {
                        font-size: 3em;
                    }
                    .Text {
                        padding: 0 3%;
                    }
                }
                .FormRow {
                    height: 10vh;
                }
            }
        }
    }
}

// IPHONE 6/7/8 PLUS DEVICES [AN EXCEPTION]
@media all and (min-width: 400px) and (max-width: 414px) {
    .CottagesContainer {
        height: 185vh;
        margin-bottom: 1em;

        .CottagesRow {
            padding: 2em;
            height: 85vh;
            width: 100vw;
            margin-top: 1em;
            .ImagesCol {
                height: 75vh;
                .Cottage01, .Cottage02 {
                    height: 36.58vh;
                    margin-top: .5em;
                }

                .Cottage01 {
                    background-position: center 70%;
                    border-radius: .5em .5em 0 0;

                }
                .Cottage02 {
                    background-position: center 60%;
                    border-radius: 0 0 .5em .5em;
                }
            }

            .InfoCol {
                margin-top: 5em;
                border-radius: .5em;
                height: 90vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .TextRow {
                    .Title {
                        font-size: 3em;
                    }
                    .Text {
                        padding: 0 3%;
                    }
                }
                .FormRow {
                    height: fit-content;
                }
            }
        }
    }
}

// IPHONE 6/7/8 DEVICES [AN EXCEPTION]
@media all and (min-width: 374px) and (max-width: 399px) {
    .CottagesContainer {
        height: 185vh;
        margin-bottom: 1em;

        .CottagesRow {
            padding: 2em;
            height: 85vh;
            width: 100vw;
            margin-top: 1em;

            .ImagesCol {
                height: 75vh;

                .Cottage01,
                .Cottage02 {
                    height: 36.58vh;
                    margin-top: .5em;
                }

                .Cottage01 {
                    background-position: center 70%;
                    border-radius: .5em .5em 0 0;

                }

                .Cottage02 {
                    background-position: center 60%;
                    border-radius: 0 0 .5em .5em;
                }
            }

            .InfoCol {
                margin-top: 5em;
                border-radius: .5em;
                height: 95vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .TextRow {
                    .Title {
                        font-size: 3em;
                    }

                    .Text {
                        padding: 0 3%;
                    }
                }

                .FormRow {
                    height: fit-content;
                }
            }
        }
    }
}