// X-LARGE DEVICES [XL]
@media all and (min-width: 1200px) {
    .ModalAContainer {
            // Modal
            .ViewModalAContainer {
                display: flex;
                width: 90vw;
                height: 85vh;
                padding: 0;
                border-radius: 1em;

                // Información Texto del Modal
                .CottageModalAText {
                    padding: 0;
                    font-weight: 500;

                    .ModalAInfoContainer {
                        height: 105vh;
                        margin-top: 3em;
                        padding-bottom: 3em;

                        .TitleA {
                            font-size: 3em;
                            margin-bottom: .7em;
                        }
                        .Intro {
                            width: 30vw;
                            font-size: .9em;
                            margin-bottom: 2.5em;
                        }
                        .UlContainer {
                            display: flex;
                            .Col {
                                ul {
                                    padding-left: 0;
                                    li {
                                        line-height: 2em;
                                    }
                                }
                            }
                        }
                        .Description {
                            margin-top: 2.5em;
                            width: 30vw;
                            font-size: .9em;
                        }
                    }
                }

                // Imagenes del Modal
                .CottageModalAsliderCol {
                    .ModalSliderContainerA {
                        display: flex;
                        height: 85vh;
                        width: 50vw;
                        .MainContainerA {
                            width: 40vw;
                            padding-left: 0;
                            .mainImgA {
                                width: 100%;
                                height: 85vh;
                            }
                        }
                        .thumbnailsA {
                            display: flex;
                            flex-direction: column;
                            overflow: hidden;
                            width: 10vw;
                            height: 85vh;
                            padding-left: 0;
                            li {
                                .ThumbImagesA {
                                    width: 10vw;
                                    height: 21.25vmin;
                                    border-left: 2px solid white;
                                    border-bottom: 2px solid white;
                                }
                            }
                        }
                    }
                }
            }
    }
}

// LARGE DEVICES [LG]
@media all and (min-width: 993px) and (max-width: 1199px) {
    .ModalAContainer {
        // Modal
        .ViewModalAContainer {
            display: flex;
            width: 90vw;
            height: 85vh;
            padding: 0;
            border-radius: 1em;

            // Información Texto del Modal
            .CottageModalAText {
                padding: 0;
                font-weight: 500;

                .ModalAInfoContainer {
                    height: 105vh;
                    margin-top: 3em;
                    padding-bottom: 3em;

                    .TitleA {
                        font-size: 3em;
                        margin-bottom: .7em;
                    }
                    .Intro {
                        width: 30vw;
                        font-size: .9em;
                        margin-bottom: 2.5em;
                        padding-left: 4em;
                        padding-right: 4em;
                        width: 100%;
                    }
                    .UlContainer {
                        display: flex;
                        padding-left: 2em;
                        padding-right: 2em;
                        .Col {
                            ul {
                                padding-left: 0;
                                li {
                                    line-height: 2em;
                                }
                            }
                        }
                    }
                    .Description {
                        margin-top: 2.5em;
                        width: 30vw;
                        font-size: .9em;
                        padding-left: 4em;
                        padding-right: 4em;
                        padding-bottom: 3em;
                        width: 100%;
                    }
                }
            }

            // Imagenes del Modal
            .CottageModalAsliderCol {
                .ModalSliderContainerA {
                    display: flex;
                    height: 85vh;
                    width: 50vw;
                    .MainContainerA {
                        display: flex;
                        width: 37vw;
                        padding-left: 0;
                        .mainImgA {
                            width: 100%;
                            height: 85vh;
                        }
                    }
                    .thumbnailsA {
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        width: 13vw;
                        height: 85vh;
                        padding-left: 0;
                        li {
                            .ThumbImagesA {
                                width: 13vw;
                                height: 21.25vmin;
                                border-left: 2px solid white;
                                border-bottom: 2px solid white;
                            }
                        }
                    }
                }
            }
        }
    }
}

// MEDIUM DEVICES [MD]
@media all and (min-width: 769px) and (max-width: 992px) {
    .ModalAContainer {
        // Modal
        .ViewModalAContainer {
            display: flex;
            width: 90vw;
            height: 85vh;
            padding: 0;
            border-radius: 1em;

            // Información Texto del Modal
            .CottageModalAText {
                padding: 0;
                font-weight: 500;

                .ModalAInfoContainer {
                    height: 105vh;
                    margin-top: 3em;
                    padding-bottom: 3em;

                    .TitleA {
                        font-size: 3em;
                        margin-bottom: .7em;
                    }
                    .Intro {
                        width: 30vw;
                        font-size: .9em;
                        margin-bottom: 2.5em;
                        padding-left: 2em;
                        padding-right: 2em;
                        width: 100%;
                    }
                    .UlContainer {
                        padding-left: 2em;
                        padding-right: 2em;
                        .Col {
                            ul {
                                padding-left: 0;
                                li {
                                    line-height: 2em;
                                }
                            }
                        }
                    }
                    .Description {
                        margin-top: 2.5em;
                        width: 30vw;
                        font-size: .9em;
                        padding-left: 2em;
                        padding-right: 2em;
                        padding-bottom: 3em;
                        width: 100%;
                    }
                }
            }

            // Imagenes del Modal
            .CottageModalAsliderCol {
                .ModalSliderContainerA {
                    height: 85vh;
                    width: 50vw;
                    .MainContainerA {
                        width: 50vw;
                        height: 60vh;
                        padding-left: 0;
                        .mainImgA {
                            width: 50vw;
                            height: 110%;
                            border-radius: 0 1em 0 0;
                        }
                    }
                    .thumbnailsA {
                        display: flex;
                        width: 50vw;
                        height: 22.7vh;
                        padding-left: 0;
                        margin-top: 0;
                        li {
                            width: 25%;
                            .ThumbImagesA {
                                width: 100%;
                                height: 100%;
                                border-top: 2px solid white;
                            }
                        }
                    }
                }
            }
        }
    }
}

// SMALL DEVICES [SM]
@media all and (min-width: 577px) and (max-width: 768px) {
    .ModalAContainer {
        // Modal
        .ViewModalAContainer {
            display: flex;
            width: 90vw;
            height: 85vh;
            padding: 0;
            border-radius: 1em;

            // Información Texto del Modal
            .CottageModalAText {
                padding: 0;
                font-weight: 500;

                .ModalAInfoContainer {
                    height: 105vh;
                    margin-top: 3em;
                    padding-bottom: 3em;

                    .TitleA {
                        font-size: 3em;
                        margin-bottom: .7em;
                    }
                    .Intro {
                        width: 30vw;
                        font-size: .9em;
                        margin-bottom: 2.5em;
                        padding-left: 2em;
                        padding-right: 2em;
                        width: 100%;
                    }
                    .UlContainer {
                        padding-left: 2em;
                        padding-right: 2em;
                        .Col {
                            ul {
                                padding-left: 0;
                                li {
                                    line-height: 2em;
                                }
                            }
                        }
                    }
                    .Description {
                        margin-top: 2.5em;
                        width: 30vw;
                        font-size: .9em;
                        padding-left: 2em;
                        padding-right: 2em;
                        padding-bottom: 3em;
                        width: 100%;
                    }
                }
            }

            // Imagenes del Modal
            .CottageModalAsliderCol {
                .ModalSliderContainerA {
                    height: 85vh;
                    width: 50vw;
                    .MainContainerA {
                        width: 50vw;
                        height: 60vh;
                        padding-left: 0;
                        .mainImgA {
                            width: 50vw;
                            height: 110%;
                            border-radius: 0 1em 0 0;
                        }
                    }
                    .thumbnailsA {
                        width: 50vw;
                        height: 22.7vh;
                        padding-left: 0;
                        margin-top: 0;
                        display: flex;
                        li {
                            width: 25%;
                            .ThumbImagesA {
                                border-top: 2px solid white;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// XS DEVICES [-]
@media all and (min-width: 415px) and (max-width: 576px) {
    .ModalAContainer {
        // Modal
        .ViewModalAContainer {
            overflow: auto;
            width: 90vw;
            height: 85vh;
            padding: 0;
            border-radius: 1em;

            // Información Texto del Modal
            .CottageModalAText {
                padding: 0;
                font-weight: 500;

                .ModalAInfoContainer {
                    height: auto;
                    margin-top: 3em;

                    .TitleA {
                        font-size: 2.5em;
                        margin-bottom: .7em;
                    }
                    .Intro {
                        width: 70vw;
                        font-size: .9em;
                        margin-bottom: 2.5em;
                    }
                    .UlContainer {
                        display: flex;
                        padding-bottom: 2.5em;
                        .Col {
                            ul {
                                padding-left: 0;
                                li {
                                    line-height: 2em;
                                    font-size: .9em;
                                }
                            }
                        }
                    }
                    .Description {
                        width: 70vw;
                        margin-bottom: 2.5em;
                        font-size: .9em;
                    }
                }
            }

            // Imagenes del Modal
            .CottageModalAsliderCol {
                .ModalSliderContainerA {
                    height: 85vh;
                    width: 90vw;
                    .MainContainerA {
                        width: 90vw;
                        height: 60vh;
                        padding-left: 0;
                        .mainImgA {
                            width: 90vw;
                            height: 110%;
                        }
                    }
                    .thumbnailsA {
                        width: 90vw;
                        height: 22.7vh;
                        padding-left: 0;
                        margin-top: 0;
                        display: flex;
                        li {
                            width: 25%;
                            .ThumbImagesA {
                                border-top: 2px solid white;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// IPHONE 6/7/8 PLUS DEVICES [AN EXCEPTION]
@media all and (max-width: 414px) {
    .ModalAContainer {
        // Modal
        .ViewModalAContainer {
            overflow: auto;
            width: 90vw;
            height: 85vh;
            padding: 0;
            border-radius: 1em;

            // Información Texto del Modal
            .CottageModalAText {
                padding: 0;
                font-weight: 500;

                .ModalAInfoContainer {
                    height: auto;
                    margin-top: 3em;

                    .TitleA {
                        font-size: 2.5em;
                        margin-bottom: .7em;
                    }
                    .Intro {
                        font-size: .9em;
                        margin-bottom: 2.5em;
                        width: 90vw;
                        padding-left: 3em;
                        padding-right: 3em;
                    }
                    .UlContainer {
                        display: flex;
                        padding-bottom: 2em;
                        .Col {
                            ul {
                                padding-left: 0;
                                li {
                                    line-height: 2em;
                                    font-size: .9em;
                                }
                            }
                        }
                    }
                    .Description {
                        width: 90vw;
                        padding-left: 3em;
                        padding-right: 3em;
                        margin-bottom: 2.5em;
                        font-size: .9em;
                    }
                }
            }

            // Imagenes del Modal
            .CottageModalAsliderCol {
                .ModalSliderContainerA {
                    height: 85vh;
                    width: 90vw;
                    .MainContainerA {
                        width: 90vw;
                        height: 60vh;
                        padding-left: 0;
                        .mainImgA {
                            width: 90vw;
                            height: 110%;
                        }
                    }
                    .thumbnailsA {
                        width: 90vw;
                        height: 22.7vh;
                        padding-left: 0;
                        margin-top: 0;
                        display: flex;
                        li {
                            width: 25%;
                            .ThumbImagesA {
                                border-top: 2px solid white;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}