.FooterContainer {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    .FooterRow {
        .FooterColumn {
            text-align: left;
            h3 {
                font-family: romantica;
            }
            ul {
                li {
                    list-style: none;
                    cursor: pointer;
                    .NavBarLink {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
    .FooterRowBottom {
        display: flex;
        a {
            text-decoration: none;
            color: black;
        }
    }
}