// // X-LARGE DEVICES [XL]
@media all and (min-width: 2000px) {
    .FooterContainer {
        padding: 2em 0 1em 0;
        .FooterRow {
            .FooterColumn {
                padding-left: 5em;
                h3 {
                    padding-bottom: .5em;
                }
                p {
                    font-size: .8em;
                    width: 70%;
                }
                ul {
                    display: flex;
                    li {
                        width: 8em;
                    }
                }
            }
        }
        .FooterRowBottom {
            padding-left: 5em;
            padding-right: 5em;
            font-size: .8em;
            line-height: .3px;
            margin-bottom: 2em;
        }
    }
}

// LARGE DEVICES [LG]
@media all and (min-width: 993px) and (max-width: 1199px) {
    .FooterContainer {
        padding: 2em 0 1em 0;
        .FooterRow {
            .FooterColumn {
                padding-left: 5em;
                h3 {
                    padding-bottom: .5em;
                }
                p {
                    font-size: .8em;
                    width: 90%;
                }
                ul {
                    display: flex;
                    li {
                        width: 7em;
                    }
                }
            }
        }
        .FooterRowBottom {
            padding-left: 5em;
            padding-right: 5em;
            font-size: .8em;
            line-height: .3px;
            margin-bottom: 2em;
        }
    }
}

// MEDIUM DEVICES [MD]
@media all and (min-width: 769px) and (max-width: 992px) {
    .FooterContainer {
        padding: 2em 0 1em 0;
        .FooterRow {
            .FooterColumn {
                padding-left: 4em;
                h3 {
                    padding-bottom: .5em;
                }
                p {
                    font-size: .8em;
                    width: 90%;
                }
                ul {
                    height: 15vh;
                    margin-top: 1em;
                    li {
                        // width: 7em;
                        padding-right: 3em;
                        text-align: right;
                        font-size: .9em;
                        line-height: 2em;
                    }
                }
            }
        }
        .FooterRowBottom {
            padding-left: 5em;
            padding-right: 5em;
            font-size: .8em;
            line-height: .3px;
            margin-bottom: 2em;
            hr {
                margin-bottom: 2em;
            }
        }
    }
}

// SMALL DEVICES [SM]
@media all and (min-width: 577px) and (max-width: 768px) {
    .FooterContainer {
        padding: 2em 0 1em 0;
        .FooterRow {
            .FooterColumn {
                h3, p {
                    display: none;
                }
                ul {
                    display: flex;
                    justify-content: center;
                    justify-content: space-evenly;
                    width: 100vw;
                    margin-top: 1em;
                    li {
                        padding-right: 3em;
                        font-size: .9em;
                        line-height: 2em;
                    }
                }
            }
        }
        .FooterRowBottom {
            padding-left: 5em;
            padding-right: 5em;
            font-size: .8em;
            line-height: .3px;
            margin-bottom: 2em;
            hr {
                margin-bottom: 2em;
            }
        }
    }
}

// XS DEVICES [-]
@media all and (min-width: 415px) and (max-width: 576px) {
    .FooterContainer {
        padding: 2em 0 1em 0;
        .FooterRow {
            .FooterColumn {
                display: flex;
                justify-content: center;
                h3, p {
                    display: none;
                }
                ul {
                    display: flex;
                    justify-content: space-evenly;
                    justify-content: center;
                    width: 100vw;
                    margin-top: 1em;
                    li {
                        padding-right: 3em;
                        font-size: .9em;
                        line-height: 2em;
                    }
                }
            }
        }
        .FooterRowBottom {
            padding-left: 5em;
            padding-right: 5em;
            font-size: .8em;
            line-height: .3px;
            margin-bottom: 2em;
            hr {
                margin-bottom: 2em;
            }
        }
    }
}

// IPHONE 6/7/8 PLUS DEVICES [AN EXCEPTION]
@media all and (max-width: 414px) {
    .FooterContainer {
        padding: 2em 0 1em 0;
        .FooterRow {
            .FooterColumn {
                display: flex;
                justify-content: center;
                padding-left: 3em;
                padding-right: 3em;
                h3, p {
                    display: none;
                }
                ul {
                    display: flex;
                    justify-content: space-evenly;
                    width: 100vw;
                    margin-top: 1em;
                    li {
                        font-size: .9em;
                        line-height: 2em;
                    }
                }
            }
        }
        .FooterRowBottom {
            padding-left: 2em;
            padding-right: 2em;
            font-size: .8em;
            line-height: .3px;
            margin-bottom: 2em;
            hr {
                margin-bottom: 2em;
            }
        }
    }
}