// // X-LARGE DEVICES [XL]
@media all and (min-width: 1200px) {
    .HomeFormContainer {
        margin-top: 1em;

        .HomeFormRow {
            max-width: 80vw;

            .HomeForm {
                display: flex;
                width: 40vw;

                .HomeFormTags {
                    .CheckAvFormGroup {
                        padding: 15px 0 0;
                        margin-top: 10px;
                        width: 95%;
                        font-size: .9em;

                        .CustomField {
                            width: 100%;
                            height: 40px;
                            border: 0;
                            border-bottom: 1px solid #b6b6b6;
                            outline: 0;
                            padding: 7px 0;
                            transition: border-color 0.2s;
                            border-radius: .5em;
                            margin-top: 10px;
                            padding-left: 1em;

                            &:placeholder-shown~.Placeholder {
                                top: 20px;
                            }
                        }

                        .CustomField:focus {
                            padding-bottom: 6px;
                            font-weight: 700;
                            border-width: 1px;
                            border-image-slice: 1;
                            padding-left: 1em;

                            ~.Placeholder {
                                top: 0;
                                transition: 0.2s;
                            }
                        }

                        .Placeholder {
                            top: 0;
                            transition: 0.2s;
                        }
                    }
                }

                .HomeFormTagsAvailability {
                    margin-left: .5em;

                    .HomeFormBtn {
                        width: 100%;
                        height: 40px;
                        border: 0;
                        border-bottom: 1px solid #b6b6b6;
                        outline: 0;
                        padding: 7px 0;
                        transition: border-color 0.2s;
                        border-radius: .5em;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

// LARGE DEVICES [LG]
@media all and (min-width: 993px) and (max-width: 1199px) {
    .HomeFormContainer {
        margin-top: 2em;

        .HomeFormRow {
            max-width: 80vw;

            .HomeForm {
                display: flex;
                width: 45vw;
                margin-left: 1em;

                .HomeFormTags {
                    .CheckAvFormGroup {
                        padding: 15px 0 0;
                        margin-top: 10px;
                        width: 95%;
                        font-size: .9em;

                        .CustomField {
                            width: 100%;
                            height: 40px;
                            border: 0;
                            border-bottom: 1px solid #b6b6b6;
                            outline: 0;
                            padding: 7px 0;
                            transition: border-color 0.2s;
                            border-radius: .5em;
                            margin-top: 10px;
                            padding-left: 1em;

                            &:placeholder-shown~.Placeholder {
                                top: 20px;
                            }
                        }

                        .CustomField:focus {
                            padding-bottom: 6px;
                            font-weight: 700;
                            border-width: 1px;
                            border-image-slice: 1;
                            padding-left: 1em;

                            ~.Placeholder {
                                top: 0;
                                transition: 0.2s;
                            }
                        }

                        .Placeholder {
                            top: 0;
                            transition: 0.2s;
                        }
                    }
                }

                .HomeFormTagsAvailability {
                    margin-left: .5em;

                    .HomeFormBtn {
                        width: 100%;
                        height: 40px;
                        border: 0;
                        border-bottom: 1px solid #b6b6b6;
                        outline: 0;
                        padding: 7px 0;
                        transition: border-color 0.2s;
                        border-radius: .5em;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

// MEDIUM DEVICES [MD]
@media all and (min-width: 769px) and (max-width: 992px) {
    .HomeFormContainer {
        margin-top: 2em;
        margin-bottom: 3em;

        .HomeFormRow {
            max-width: 80vw;

            .HomeForm {
                display: flex;
                width: 60vw;
                margin-left: 1em;

                .HomeFormTags {
                    .CheckAvFormGroup {
                        padding: 15px 0 0;
                        margin-top: 10px;
                        width: 95%;
                        font-size: .9em;

                        .CustomField {
                            width: 100%;
                            height: 40px;
                            border: 0;
                            border-bottom: 1px solid #b6b6b6;
                            outline: 0;
                            padding: 7px 0;
                            transition: border-color 0.2s;
                            border-radius: .5em;
                            margin-top: 10px;
                            padding-left: 1em;

                            &:placeholder-shown~.Placeholder {
                                top: 20px;
                            }
                        }

                        .CustomField:focus {
                            padding-bottom: 6px;
                            font-weight: 700;
                            border-width: 1px;
                            border-image-slice: 1;
                            padding-left: 1em;

                            ~.Placeholder {
                                top: 0;
                                transition: 0.2s;
                            }
                        }

                        .Placeholder {
                            top: 0;
                            transition: 0.2s;
                        }
                    }
                }

                .HomeFormTagsAvailability {
                    margin-left: .5em;

                    .HomeFormBtn {
                        width: 100%;
                        height: 40px;
                        border: 0;
                        border-bottom: 1px solid #b6b6b6;
                        outline: 0;
                        padding: 7px 0;
                        transition: border-color 0.2s;
                        border-radius: .5em;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

// SMALL DEVICES [SM]
@media all and (min-width: 577px) and (max-width: 768px) {
    .HomeFormContainer {
        margin-top: 2em;
        margin-bottom: 3em;

        .HomeFormRow {
            max-width: 78vw;

            .HomeForm {
                display: flex;
                width: 80vw;
                margin-left: 1em;

                .HomeFormTags {
                    .CheckAvFormGroup {
                        padding: 15px 0 0;
                        margin-top: 10px;
                        width: 95%;
                        font-size: .9em;

                        .CustomField {
                            width: 100%;
                            height: 40px;
                            border: 0;
                            border-bottom: 1px solid #b6b6b6;
                            outline: 0;
                            padding: 7px 0;
                            transition: border-color 0.2s;
                            border-radius: .5em;
                            margin-top: 10px;
                            padding-left: 1em;

                            &:placeholder-shown~.Placeholder {
                                top: 20px;
                            }
                        }

                        .CustomField:focus {
                            padding-bottom: 6px;
                            font-weight: 700;
                            border-width: 1px;
                            border-image-slice: 1;
                            padding-left: 1em;

                            ~.Placeholder {
                                top: 0;
                                transition: 0.2s;
                            }
                        }

                        .Placeholder {
                            top: 0;
                            transition: 0.2s;
                        }
                    }
                }

                .HomeFormTagsAvailability {
                    margin-left: .5em;

                    .HomeFormBtn {
                        width: 100%;
                        height: 40px;
                        border: 0;
                        border-bottom: 1px solid #b6b6b6;
                        outline: 0;
                        padding: 7px 0;
                        transition: border-color 0.2s;
                        border-radius: .5em;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

// XS DEVICES [-]
@media all and (min-width: 415px) and (max-width: 576px) {
    .HomeFormContainer {
        margin-top: 1em;
        margin-bottom: 1em;

        .HomeFormRow {
            width: 80vw;
            display: flex;
            justify-content: center;

            .HomeForm {
                .HomeFormTags {
                    .CheckAvFormGroup {
                        display: flex;
                        padding: 15px 0 0;
                        margin-top: 10px;
                        width: 100%;
                        font-size: .9em;

                        .CustomField {
                            width: 100%;
                            height: 40px;
                            border: 0;
                            border-bottom: 1px solid #b6b6b6;
                            outline: 0;
                            padding: 7px 0;
                            transition: border-color 0.2s;
                            border-radius: .5em;
                            margin-top: 10px;
                            padding-left: 1em;

                            &:placeholder-shown~.Placeholder {
                                top: 20px;
                            }
                        }

                        .CustomField:focus {
                            padding-bottom: 6px;
                            font-weight: 700;
                            border-width: 1px;
                            border-image-slice: 1;
                            padding-left: 1em;

                            ~.Placeholder {
                                top: 0;
                                transition: 0.2s;
                            }
                        }

                        .Placeholder {
                            top: 0;
                            transition: 0.2s;
                        }
                    }
                }

                .HomeFormTagsAvailability {
                    width: 100%;
                    margin-top: 10px;

                    .HomeFormBtn {
                        width: 100%;
                        height: 40px;
                        border: 0;
                        border-bottom: 1px solid #b6b6b6;
                        outline: 0;
                        padding: 7px 0;
                        transition: border-color 0.2s;
                        border-radius: .5em;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

// IPHONE 6/7/8 PLUS DEVICES [AN EXCEPTION]
@media all and (max-width: 414px) {
    .HomeFormContainer {
        margin-top: 2em;
        margin-bottom: 1em;

        .HomeFormRow {
            width: 80vw;
            display: flex;
            justify-content: center;

            .HomeForm {
                .HomeFormTags {
                    .CheckAvFormGroup {
                        display: flex;
                        padding: 15px 0 0;
                        margin-top: 10px;
                        width: 100%;
                        font-size: .9em;

                        .CustomField {
                            width: 100%;
                            height: 40px;
                            border: 0;
                            border-bottom: 1px solid #b6b6b6;
                            outline: 0;
                            padding: 7px 0;
                            transition: border-color 0.2s;
                            border-radius: .5em;
                            margin-top: 10px;
                            padding-left: 1em;

                            &:placeholder-shown~.Placeholder {
                                top: 20px;
                            }
                        }

                        .CustomField:focus {
                            padding-bottom: 6px;
                            font-weight: 700;
                            border-width: 1px;
                            border-image-slice: 1;
                            padding-left: 1em;

                            ~.Placeholder {
                                top: 0;
                                transition: 0.2s;
                            }
                        }

                        .Placeholder {
                            top: 0;
                            transition: 0.2s;
                        }
                    }
                }

                .HomeFormTagsAvailability {
                    width: 100%;
                    margin-top: 10px;

                    .HomeFormBtn {
                        width: 100%;
                        height: 40px;
                        border: 0;
                        border-bottom: 1px solid #b6b6b6;
                        outline: 0;
                        padding: 7px 0;
                        transition: border-color 0.2s;
                        border-radius: .5em;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}