.ActivitiesContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: -5;
    --bs-gutter-x: 0;
    background-image: url('https://res.cloudinary.com/dfprmjlir/image/upload/v1663682528/CANITAS%20RENTAL/40pexels-kris-m%C3%B8klebust-11894998_weoajf_ygfiaz.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    // background: linear-gradient(#868d84, #010101);
}