.ActivitiesContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: -5;
    --bs-gutter-x: 0;
    overflow: hidden;

    .ActivitiesImgWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .Title {
            font-family: romantica;
            font-size: 3em;
            margin-bottom: 1em;
        }
    }
}